<section class="col-lg-12">
  <div class="col-lg-5">
{{!-- Show any posts users have --}}
{{#if allBlogs}}
<h1 class="existingPosts">Existing Posts</h1>
{{#each allBlogs}}
<div class="blogCont">
<h2>Title: {{blog_title}}</h2>
<p>Description: {{blog_content}}</p>
<button id="update_btn">Update</button>
<input type="hidden" id="blog_id" value="{{id}}" />
<button id="delete_btn" >Delete</button>
</div>
{{/each}}
{{else}}
<h3 class="noPost">NO POSTS CREATED</h3>
{{/if}}
</div>
<div class="col-lg-7">

{{!-- Create New Post --}}
<div class="new-post">
  <h1>Create New Post</h1>
  <form>
    <input type="text" placeholder="Title" id="title">
        <div class="form-group">
      <textarea class="form-control" rows="5" id="description" placeholder="Description"></textarea>
    </div>
    <button id="submit_btn">Post</button>
  </form>
</div>
</section>
<script src="/js/profile.js"></script>



