{{!-- Login Handlbar --}}
 <form>

    <div class="container">
      <label for="email"><b>Email</b></label>
      <input id="email" type="email" placeholder="Enter Email" name="email" required>

      <label for="password"><b>Password</b></label>
      <input id="password" type="password" placeholder="Enter Password" name="password" required>
        
      <button id="login_btn" type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
</form>

{{!-- Logout Handlebar --}}
<form>
    <span class="title">Sign up</span>
    <div >
      <input type="text" class="input" id = "fullname"placeholder="Full Name">
			<input type="email" class="input" id ="new-mail" placeholder="Email">
			<input type="password" class="input" id = "new-pass" placeholder="Password">
    </div>
    <button id="Sign-up" >Sign up</button>
</form>


<script src="/js/logout.js"></script>
<script src="/js/login.js"></script>
